{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
    <style>
        h1{
            font-family: 'Pacifico', cursive;
        }
        p{
            font-family: 'Bree Serif', serif;
            font-size: 24px;
        }
    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Voir le catalogue</a>
                </li>
            </ul>
            <a class="nav-link" href="/cart" style="color: white;"><i class="fas fa-shopping-cart"></i>&nbsp;Voir son panier</a>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
        </div>
    </nav>
    <br>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem; margin-left: 25%;">
                    <img class="card-img-top" src="{{ asset('images/plants.jpeg') }}" alt="Card image plants">
                    <div class="card-body">
                        <h1 class="card-title">Plantes</h1>
                        <p class="card-text">Retouvez nos différentes plantes.</p>
                        <a href="/product/1" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem; margin-left: 25%;">
                    <img class="card-img-top" src="{{ asset('images/flowers.jpeg') }}" alt="Card image flowers">
                    <div class="card-body">
                        <h1 class="card-title">Fleurs</h1>
                        <p class="card-text">Retrouvez nos différentes fleurs.</p>
                        <a href="/product/3" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem; margin-left: 25%;">
                    <img class="card-img-top" src="{{ asset('images/compo.jpeg') }}" alt="Card image compo">
                    <div class="card-body">
                        <h1 class="card-title">Compositions</h1>
                        <p class="card-text">Retrouvez nos différentes compositions.</p>
                        <a href="/product/2" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
