{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
    <style>
        h1{
            font-family: 'Pacifico', cursive;
        }
        p{
            font-family: 'Bree Serif', serif;
            font-size: 24px;
        }
    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
        </div>
    </nav>
    <br>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col col-lg-8">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome !</h1>
                    <hr class="my-4">
                    <p>
                        Les fleuristes LaFleur assurent la livraison de fleurs.
                        Bouquet de fleurs livré en mains propres, 7j/7, par un fleuriste.
                        LaFleur vous permet d'avoir le meilleur choix de bouquet de fleurs.
                    </p>
                    <a class="btn btn-secondary btn-lg float-right" href="#" role="button">Voir les produits</a>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
